
@{
    ViewData["Title"] = "GetSupplierMatrials";
}
<partial name="_ResposiveNavPartial" />
<div class="container-cards-sup-details">
    <div class="row handle-row">

        <partial name="_SupplierCheckMarerialPartial" />


@*        <partial name="_ProfileSidebarPartial" />
*@

<div class="col handle-col">
        @foreach (var item in ViewBag.MatrialsModel)
        {
                <div class="card cards-sup-details" style="width: 18rem; display: inline-block;">
                        <img src="\images\@item.Image" class="card-img-top text-light" alt="@item.description" style="height:220px" />
                <div class="text-center card-body">
                        <h5 class="text-center card-title text-light">Name: @item.name</h5>
                        <p class="text-center card-text text-light">Price: @item.Price</p>
                        <p class="text-center card-text text-light">Descreption: @item.description</p>

                    <a asp-action="Edit" asp-controller="SupplierMatrial" asp-route-id="@item.id" class="text-center btn btn-light">Edit your Products</a>
                </div>
            </div>
        }
    </div>
    </div>
</div>
@*<script src="~/js/site.js"></script>*@





<style>
    .row.handle-row {

    }

    .col.handle-col {
        display: flex;
        flex-wrap: wrap;
    }


    .container-cards-sup-details {
        position: relative;
        top: 150px;
        width: 84%;
        left: 16%;
        height: 601px;
/*        background-color: #212529;
*/        
                background-color: white;
/*        display: flex;
*//*        align-items: center;
        justify-content: center;*/
/*        flex-wrap: wrap;
*/        overflow-y: auto;
        padding: 1%;
    }

    .card.cards-sup-details {
/*        background-color: white;
*/        background-color: #212529;
        margin: 5px;
        /*        margin-bottom: 1%;
    */ /*flex-basis: calc(100% / 3);*/
    }

</style>