@model FinalASP.Models.VirtualKitchen
@{
    ViewData["Title"] = "_ChefProfilePartial";
}

<section >
    <div class=" py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-11 mb-5 mb-lg5">
                <div class="card mb-5" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="~/Images/@Model.LogoImage"
                                 alt="Avatar" class="img-fluid my-5" style="width: 150px; height:150px" />
                            <h5>UserNAme: @Model.Name</h5>
                            <p>Co.Name: @Model.CompanyName</p>
                            <a href="/VirtualKitchen/Edit?id=@Model.Id" @*asp-action="Edit" asp-route-id="@Model.id"*@ class="btn btn-secondary mb-5">Edit Profile</a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Location</h6>
                                        <p class="text-muted">@Model.Address</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">@Model.Phone</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Domain</h6>
                                        <p class="text-muted">@Model.Domain</p>
                                    </div>
                                </div>
                                <h6>Booked Kitchens</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Recent Num.</h6>
                                        <p class="text-muted">@TempData["List"]</p>
                                    </div>
                                </div>
                                <a class="btn btn-primary" asp-action="GetSupplierMatrials">Check Materials</a>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .gradient-custom {
          /* Chrome 10-25, Safari 5.1-6 */
/*        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));*/
       /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }
</style>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

