<div class="row">
    @*<partial name="_SupplierSidepar" />*@
    <div class="col-md-9">
@foreach (var item in MyGeneralModel.kitchens)
{
    <div class="card" style="width: 18rem; display: inline-block;">
        <img src="\images\@item.KitchenImage1" class="card-img-top" alt="@item.Description" style="height:220px" />
                @{
                    string state = "Reserved";
                    if (@item.State == false)
                        state = "Available";
                }
        <div class="text-center card-body">
            <h5 class="text-center card-title">@item.Name</h5>
            @item.Price
            <p class="text-center card-text">@item.Description.</p>
            <p class="text-center card-text">Owner:@item.PhysicalKitchen.Name</p>
                    <p class="text-center card-text">State: @state</p>
            <a href="#!" class="text-center btn btn-primary">See Details</a>
        </div>
    </div>
}
    </div>
</div>
