@model FinalASP.Models.PhysicalKitchen
@{
	ViewData["Title"] = "Edit";
}
<section class="vh73 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit your profile data </h2>

                            <form asp-action="Edit" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input asp-for="Name" value="@Model.Name" type="hidden" />
                                <input asp-for="Email" value="@Model.Email" type="hidden" />

                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label"></label>
                                    <input asp-for="CompanyName" class="form-control" value="@Model.CompanyName" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Locaion" class="control-label"></label>
                                    <input asp-for="Locaion" class="form-control" value="@Model.Locaion" />
                                    <span asp-validation-for="Locaion" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Domain" class="control-label"></label>
                                    <select asp-for="Domain" class="form-select form-select-lg" id="Domain" value="@Model.Domain">
                                        <option value="Fast Food Resturant">Fast Food Resturant</option>
                                        <option value="Fine Dining Resturant">Fine Dining Resturant</option>
                                        <option value="Hotel Kitchen">Hotel Kitchen</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="Domain" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" value="@Model.Phone" />
                                    <span asp-validation-for="Phone"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <input asp-for="LogoImage" type="file" class="form-control" value=@Model.LogoImage id="LogoImage" onchange="displayFileName()">
                                    <label class="form-label" for="LogoImage">Upload</label>
                                    <span asp-validation-for="LogoImage" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body m-md-5">Save Edits</button>
                                    <a asp-action="PhyKitchenProfile" class="btn btn-success btn-block btn-lg gradient-custom-6 text-body m-md-5">Back to Profile</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>