@model IEnumerable<FinalASP.Models.Kitchen>

@{
    ViewData["Title"] = "GetPhyshicalKitchens";
}

<partial name="_ResposiveNavPartial" />
<div class="row">

@* <partial name="_ProfileSidebarPartial" />
*@    <partial name="_PhyKitchenSideBarPartial" />
@*   
    --------------------------------------------------------------
*@
    <div class="container-cards-kit">
        <div class=" col-md-9">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem; display: inline-block;">
                    <img src="\images\@item.KitchenImage1" class="card-img-top text-light" alt="@item.Description" style="height:220px" />
                    <div class="text-center card-body">
                        <h5 class="text-center card-title text-light">Name: @item.Name</h5>
                        <h5 class="text-center card-title text-light">Price: @item.Price</h5>
                        <p class="text-center card-text text-light">Location: @item.Locaion</p>
                        <a asp-action="Edit" asp-controller="Kitchen" asp-route-id="@item.Id" class="text-center btn btn-light">Edit Kitchen</a>
                    </div>
                </div>
           
            } 
        </div>
    </div>

 @*   
    --------------------------------------------------------------
*@  

</div>










                        <style>
    .container-cards-kit{
        position: relative;
        top: 150px;
        width: 84%;
        left: 16%;
        height: 601px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: auto;
        padding:1%;
    }
/*    .cards-kit {
        position: absolute;
        top: 5%;
        right: 2%;
        width: 80%;
        flex-basis: calc(100% / 3);
    }*/
    .card {
        background-color: #212529;
        margin:5px;
/*        margin-bottom: 1%;
*/        flex-basis: calc(100% / 3);
    }

                      </style>