
@model IEnumerable<FinalASP.Models.Kitchen>

@{
    ViewData["Title"] = "GetPhyshicalKitchens";
}
<partial name="_ResposiveNavPartial" />
<div class="container-cards-kit-store">
<div class="row">
    <partial name="_PhyKitchenSideBarPartial" />
    <div class="col">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem; display: inline-block;">
                <img src="\images\@item.KitchenImage1" class="card-img-top" alt="@item.Description" style="height:220px" />
                <div class="text-center card-body">
                    <h5 class="text-center card-title">Name: @item.Name</h5>
                     <h5 class="text-center card-title">Price: @item.Price</h5>
                    <p class="text-center card-text">Location: @item.Locaion</p>
                        <a asp-action="Edit" asp-controller="Kitchen" asp-route-id="@item.Id" class="text-center btn btn-primary">Edit Kitchen</a>
                </div>
            </div>
        }
    </div>
</div>
</div>
@*<script src="~/js/site.js"></script>*@
<style>
    .container-cards-kit-store {
        position: absolute;
        top: 150px;
        width: 100%;
        left: 0;
        right: 0;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: auto;
        padding: 1%;
    }
    .card {
        margin-bottom: 1%;
        background-color: #212529;
    }
        .card .card-title,
        .card .card-text {
            color: white;
            font-size: 20px;
            font-family: monospace;
        }
        .card .btn {
        }
</style>
